<div class="container text-center mb-3">
  <div class="card p-2">
    <div class="card-title d-flex justify-content-center align-items-center">
      <h5> Shopping Cart </h5>
      <button class="btn fs-3 m-1">
        <i class="fas fa-cart-plus"></i>
        <div class="badge bg-danger"> {{totalProductsNumber}} </div>
      </button>
    </div>
    <div *ngIf="products.length != 0">
      <div class="card-table">
        <div class="cart-product">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th> Nr. </th>
                <th> Product Name </th>
                <th> Price </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let ngForindex=index">
                <td> {{ngForindex+1}} </td>
                <td> {{product.title}} </td>
                <td> {{product.price}} </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteProduct(ngForindex)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="fw-semibold"> Total: ${{totalPrice}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h4 *ngIf="products.length == 0"> Cart is empty! </h4>
  </div>
</div>